.$diagrams.drawio.bkp

# backend (Encore)
backend/.encore
backend/encore.gen
backend/node_modules
workflow/node_modules
workflow/.env
node_modules
backend/encore.gen.go
backend/encore.gen.cue
encore.gen.go
encore.gen.cue
/.encore
/encore.gen
